body {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 13px;
  background-color: #f9f9f9;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper {
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 1060px;
  margin: 0 auto;
  border: 1px solid transparent;
}

.container {
  width: 965px;
  margin: 0 auto;
}

/*header*/
.logo {
  width: 145px;
  height: 40px;
  margin-top: 50px;
}
.main-navigation {
  background-image: linear-gradient(90deg, #454545, #5e5e5e);
  margin-top: 40px;
}

.main-navigation li {
  font-size: 15px;
  line-height: 29px;
  display: inline-block;
  vertical-align: top;
}

.main-navigation a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 14px 25px 11px;
}

.main-navigation a:hover {
  background-image: linear-gradient(90deg, #2e2e2e, #4a4a4a);
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
}

/*main*/

.menu {
  float: left;
  width: 240px;
  height: 240px;
  margin-top: 40px;
}

.menu li {
  border-bottom: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
}

.menu li:first-child {
  border-top: 1px solid #c8c8c8;
}
.menu a {
  display: block;
  text-decoration: none;
  padding: 25px 14px 11px;
  color: #636363;
}

.menu a:hover {
  color: #000000;
  background-color: #f9f9f9;
}
.content {
  float: right;
  width: 678px;
  height: 400px;
  margin-top: 40px;
}
.item {
  border: 1px solid #c8c8c8;
}
.item img {
  width: 500px;
  height: 307px;
  display: table-cell;
  margin: 0 auto;
  vertical-align: middle;
}

.item p {

}

/*footer*/

footer.container {
  font-size: 15px;
  line-height: 29px;
  margin-top: 60px;
  margin-bottom: 60px;

  background-color: #e1e1e1;
}

.footer-navigation {
    width: 700px;
    float: left;

  }

.footer-navigation li {

    display: inline-block;
    text-align: top;
  }

.footer-navigation a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 14px 25px 11px;
  }

.footer-navigation a:hover {
    text-decoration: underline;
  }

  .copyright {
    float: right;
    text-align: right;
    padding-right: 25px;
    padding-top: 15px;
  }
