body {
  color: #e6e6e6;
  background: #000000;

  font-family: "Tahoma", sans-serif;
  font-size: 10px;
}

.clearfix::after {
  display: table;
  clear: both;

  content: "";
}

.container {
  width: 960px;
  height: 883px;
  margin: 0 auto;

  background: url("../img/background.jpg") no-repeat 50% 50%;
}

/*HEADER*/

.logo {
  float: left;

  width: 263px;
  height: 165px;
  margin-top: 57px;
  margin-left: 70px;

  text-align: center;

  background: url("../img/palm tree.png") no-repeat 100% 50%;
}

.logo img {
  padding-top: 85px;
}

.contacts {
  float: right;

  margin-top: 152px;
  margin-right: 70px;

  font-size: 8px;
  line-height: 12px;
}

.contacts span {
  font-size: 10px;
}

.contacts a {
  text-decoration: none;

  color: inherit;
}

/*MAIN*/

.country {
  display: inline-block;

  margin-left: 5px;

  text-align: center;

  font-size: 15px;
}

.country img {
  border: 5px ridge #979797;
}

.India,
.Bhutan {
  margin-left: 70px;
}

.Bhutan,
.Sri_Lanka,
.Maldives {
  margin-top: 70px;
}

/*FOOTER*/

footer p {
  width: 171px;
  margin: 200px auto 30px;
}

footer a {
  text-decoration: none;

  color: inherit;
}
